.main-content{
    padding-top:60px;
    align-items: center;
    text-align: center;
}

.main-content__agradecimientos{
    margin-top:20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 60px;
    margin-right: 60px;
    border:solid black 1px;
}