<div class="main-content">
    <h1>About</h1>
    <h3>¿Por que estoy haciendo este proyecto?</h3>
    <p>Tras haberme especializado en IA y haber comenzado mi carrera profesional en ese sector,
        he sentido la incertidumbre de saber si seria feliz trabajando en eso el resto de mi vida,
        y debido a que siempre he tenido gran aficion por la maquetacion, el diseño, y el desarrollo de aplicaciones,
        aunque no tuviera grandes conocimientos, senti que tenia que formarme en ese aspecto, y a fururo ver como me
        desempeñaba en este maravilloso mundo de front.
    </p>
    <h3>Integrantes</h3>
    <p>Yo, Alex, a tiempo muy parcial</p>
    <h3>Github</h3>
    <a href="https://github.com/alexvarelo/Practicas-MST-Front">Alexvarelo Github</a>
    <div class="main-content__agradecimientos">
        <h4>Agradecer a Antonio Cuenca por darme la oportunidad de unirme a este departamento, y haberme hecho madurar
            en distintos aspectos que son necesarios en la compañia. Y gracias a Jaime y Samu por ayudarme con las
            practicas,
            y ser bastante paciente conmigo xd.
        </h4>
        <h4>La practica la he implementado este fin de semana y ahora mismo en este puente, y como aporte divertido
            decir que ya estoy empezando a tener sueños con angular, y no se si son buenos ;)
        </h4>
    </div>
</div>