@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Poppins&display=swap");
@import url(https://fonts.googleapis.com/css?family=Khula:700);
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@font-face {
  font-family: 'upgrade';
  src: url("fonts/upgrade.eot");
  src: url("fonts/upgrade.woff2") format("woff2"), url("fonts/upgrade.woff") format("woff"), url("fonts/upgrade.ttf") format("truetype"), url("fonts/upgrade.svg#upgrade") format("svg");
  font-weight: normal;
  font-style: normal;
}

.cabecera {
  border: 5px red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  display: block;
}

.main-header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Courier New", "Lucida Console", monospace;
  padding: 0px;
}

#main-header__content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-nav > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #BACFD3;
  padding: 8px;
}

#main-nav__content {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pages {
  font-family: 'Inconsolata', monospace;
  font-size: 17px;
  line-height: 3.14286;
  font-weight: 20;
  letter-spacing: -.01em;
  padding-right: 60px;
}

.module-content > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.module-content__portada {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0px;
  background-image: url("../static/landing.jpg");
  background-repeat: no-repeat;
  background-position: 50% 35%;
}

.module-content__title, .module-content__title--nopadding {
  padding-top: 60px;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  margin: 0px;
}

.module-content__subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: gray;
  margin: 0px;
}

.abstract {
  margin-top: 360px;
  margin-bottom: 100px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

.module-content__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*Wrap para que sea algo responsive, sino los elementos de este div (el texto y la foto) se juntan. Se tiene que hacer que segun el tamaño de pantalla
    se redimensionen las posiciones?*/
}

.module-content__section {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  width: 1000px;
  background-color: #d4e9f0;
  margin-left: 50px;
}

.module-content__section--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.piggi-title {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 30px;
  fill: #45dd89;
  width: 65px;
}

.module-content__aside {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.module-content__aside > img {
  float: right;
  margin-right: 50px;
}

.module-content__title--nopadding {
  padding-top: 30px;
  padding-left: 30px;
  /*position: relative; 
    Queria poner el titulo en posicion relative, para que despues la descripcion se posicionara a partir de la posicion del titulo*/
}

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

.module-content__desription {
  /*position:absolute;*/
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 50px;
  font-family: "San Francisco";
  font-size: 17px;
  line-height: 2;
  letter-spacing: 2px;
}

.quote {
  padding-top: 50px;
  text-align: center;
  font-family: Khula;
  font-weight: 0px;
  color: #635e5e;
  letter-spacing: 3px;
}

/*font-family:Khula;*/
/* Google Fonts */
/*# sourceMappingURL=styles.css.map */