<h1>Que es un superheroe</h1>
<p>Superhéroe es un concepto que no forma parte del diccionario de la Real Academia Española (RAE). Se trata de un término formado por el prefijo super (elemento compositivo que refiere a algo excesivo, preeminente o en grado máximo) y el sustantivo héroe (alguien reconocido por su valor y sus hazañas). 
    De acuerdo a la Fundación del Español Urgente (Fundéu), los términos compuestos con el prefijo super se escriben sin espacios y sin guión. Super, además, carece de tilde, excepto que se emplee de forma solitaria y como sustantivo.</p>
