$tablet: 768px;
$desktop: 1025px;
$wide: 1280px;

.card {
    border-color: darkgrey;
    border-width: 1px;
    border-radius: 13px;
    border-style: solid;
    margin: 8px;
    padding: 4px;
}

.card__image {
    height: 250px;
    border-radius: 13px;
    @media (min-width: $tablet) {
        height: 100px;
    }
}
