@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Poppins&display=swap");

h4 {
    font-family: "Inconsolata", monospace;
}

.main-content{
    margin-top:30px;
}

.main-list {
    padding-top: 15px;
}